[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-widget-tweaks = "*"
django-phonenumber-field = "*"
requests = "*"
pyjwt = "*"
django-tables2 = "*"

[dev-packages]

[requires]
python_version = "3.11"
