<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Work+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Galileo Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden" style='font-family: "Work Sans", "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f4f2f0] px-10 py-3">
          <div class="flex items-center gap-4 text-[#181411]">
            <div class="size-4">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M24 4H6V17.3333V30.6667H24V44H42V30.6667V17.3333H24V4Z" fill="currentColor"></path>
              </svg>
            </div>
            <h2 class="text-[#181411] text-lg font-bold leading-tight tracking-[-0.015em]">Marketplace</h2>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a class="text-[#181411] text-sm font-medium leading-normal" href="#">Featured</a>
              <a class="text-[#181411] text-sm font-medium leading-normal" href="#">Women</a>
              <a class="text-[#181411] text-sm font-medium leading-normal" href="#">Men</a>
              <a class="text-[#181411] text-sm font-medium leading-normal" href="#">Home</a>
              <a class="text-[#181411] text-sm font-medium leading-normal" href="#">Jewelry</a>
              <a class="text-[#181411] text-sm font-medium leading-normal" href="#">Beauty</a>
            </div>
            <div class="flex gap-2">
              <button
                class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 bg-[#f4f2f0] text-[#181411] gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
              >
                <div class="text-[#181411]" data-icon="MagnifyingGlass" data-size="20px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
                    ></path>
                  </svg>
                </div>
              </button>
              <button
                class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 bg-[#f4f2f0] text-[#181411] gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
              >
                <div class="text-[#181411]" data-icon="User" data-size="20px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M230.92,212c-15.23-26.33-38.7-45.21-66.09-54.16a72,72,0,1,0-73.66,0C63.78,166.78,40.31,185.66,25.08,212a8,8,0,1,0,13.85,8c18.84-32.56,52.14-52,89.07-52s70.23,19.44,89.07,52a8,8,0,1,0,13.85-8ZM72,96a56,56,0,1,1,56,56A56.06,56.06,0,0,1,72,96Z"
                    ></path>
                  </svg>
                </div>
              </button>
              <button
                class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 bg-[#f4f2f0] text-[#181411] gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
              >
                <div class="text-[#181411]" data-icon="Heart" data-size="20px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M178,32c-20.65,0-38.73,8.88-50,23.89C116.73,40.88,98.65,32,78,32A62.07,62.07,0,0,0,16,94c0,70,103.79,126.66,108.21,129a8,8,0,0,0,7.58,0C136.21,220.66,240,164,240,94A62.07,62.07,0,0,0,178,32ZM128,206.8C109.74,196.16,32,147.69,32,94A46.06,46.06,0,0,1,78,48c19.45,0,35.78,10.36,42.6,27a8,8,0,0,0,14.8,0c6.82-16.67,23.15-27,42.6-27a46.06,46.06,0,0,1,46,46C224,147.61,146.24,196.15,128,206.8Z"
                    ></path>
                  </svg>
                </div>
              </button>
              <button
                class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 bg-[#f4f2f0] text-[#181411] gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
              >
                <div class="text-[#181411]" data-icon="ShoppingBag" data-size="20px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M216,40H40A16,16,0,0,0,24,56V200a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A16,16,0,0,0,216,40Zm0,160H40V56H216V200ZM176,88a48,48,0,0,1-96,0,8,8,0,0,1,16,0,32,32,0,0,0,64,0,8,8,0,0,1,16,0Z"
                    ></path>
                  </svg>
                </div>
              </button>
            </div>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="@container">
              <div class="@[480px]:p-4">
                <div
                  class="flex min-h-[480px] flex-col gap-6 bg-cover bg-center bg-no-repeat @[480px]:gap-8 @[480px]:rounded-xl items-center justify-center p-4"
                  style='background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%), url("https://cdn.usegalileo.ai/sdxl10/04808b1b-b27c-4aa2-b185-ec8c4e0010a5.png");'
                >
                  <div class="flex flex-col gap-2 text-center">
                    <h1
                      class="text-white text-4xl font-black leading-tight tracking-[-0.033em] @[480px]:text-5xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em]"
                    >
                      Our Mission
                    </h1>
                    <h2 class="text-white text-sm font-normal leading-normal @[480px]:text-base @[480px]:font-normal @[480px]:leading-normal">
                      We believe that everyone should have access to a variety of products and services. That's why we built Marketplace, an online platform that connects sellers
                      to buyers so that they can find what they need, when they need it. We are committed to helping our community thrive by providing a safe, convenient, and
                      personalized shopping experience.
                    </h2>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#ee7f2b] text-[#181411] text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em]"
                  >
                    <span class="truncate">Learn more</span>
                  </button>
                </div>
              </div>
            </div>
            <h2 class="text-[#181411] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Our Values</h2>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-1 gap-3 rounded-lg border border-[#e6e0db] bg-white p-4 flex-col">
                <div class="text-[#181411]" data-icon="Heart" data-size="24px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M178,32c-20.65,0-38.73,8.88-50,23.89C116.73,40.88,98.65,32,78,32A62.07,62.07,0,0,0,16,94c0,70,103.79,126.66,108.21,129a8,8,0,0,0,7.58,0C136.21,220.66,240,164,240,94A62.07,62.07,0,0,0,178,32ZM128,206.8C109.74,196.16,32,147.69,32,94A46.06,46.06,0,0,1,78,48c19.45,0,35.78,10.36,42.6,27a8,8,0,0,0,14.8,0c6.82-16.67,23.15-27,42.6-27a46.06,46.06,0,0,1,46,46C224,147.61,146.24,196.15,128,206.8Z"
                    ></path>
                  </svg>
                </div>
                <h2 class="text-[#181411] text-base font-bold leading-tight">We are here to support you and help you grow your business.</h2>
              </div>
              <div class="flex flex-1 gap-3 rounded-lg border border-[#e6e0db] bg-white p-4 flex-col">
                <div class="text-[#181411]" data-icon="Users" data-size="24px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M117.25,157.92a60,60,0,1,0-66.5,0A95.83,95.83,0,0,0,3.53,195.63a8,8,0,1,0,13.4,8.74,80,80,0,0,1,134.14,0,8,8,0,0,0,13.4-8.74A95.83,95.83,0,0,0,117.25,157.92ZM40,108a44,44,0,1,1,44,44A44.05,44.05,0,0,1,40,108Zm210.14,98.7a8,8,0,0,1-11.07-2.33A79.83,79.83,0,0,0,172,168a8,8,0,0,1,0-16,44,44,0,1,0-16.34-84.87,8,8,0,1,1-5.94-14.85,60,60,0,0,1,55.53,105.64,95.83,95.83,0,0,1,47.22,37.71A8,8,0,0,1,250.14,206.7Z"
                    ></path>
                  </svg>
                </div>
                <h2 class="text-[#181411] text-base font-bold leading-tight">We celebrate the differences that make us unique and strive to create an inclusive marketplace.</h2>
              </div>
              <div class="flex flex-1 gap-3 rounded-lg border border-[#e6e0db] bg-white p-4 flex-col">
                <div class="text-[#181411]" data-icon="Globe" data-size="24px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24ZM101.63,168h52.74C149,186.34,140,202.87,128,215.89,116,202.87,107,186.34,101.63,168ZM98,152a145.72,145.72,0,0,1,0-48h60a145.72,145.72,0,0,1,0,48ZM40,128a87.61,87.61,0,0,1,3.33-24H81.79a161.79,161.79,0,0,0,0,48H43.33A87.61,87.61,0,0,1,40,128ZM154.37,88H101.63C107,69.66,116,53.13,128,40.11,140,53.13,149,69.66,154.37,88Zm19.84,16h38.46a88.15,88.15,0,0,1,0,48H174.21a161.79,161.79,0,0,0,0-48Zm32.16-16H170.94a142.39,142.39,0,0,0-20.26-45A88.37,88.37,0,0,1,206.37,88ZM105.32,43A142.39,142.39,0,0,0,85.06,88H49.63A88.37,88.37,0,0,1,105.32,43ZM49.63,168H85.06a142.39,142.39,0,0,0,20.26,45A88.37,88.37,0,0,1,49.63,168Zm101.05,45a142.39,142.39,0,0,0,20.26-45h35.43A88.37,88.37,0,0,1,150.68,213Z"
                    ></path>
                  </svg>
                </div>
                <h2 class="text-[#181411] text-base font-bold leading-tight">We are committed to reducing our environmental impact and supporting sustainable practices.</h2>
              </div>
              <div class="flex flex-1 gap-3 rounded-lg border border-[#e6e0db] bg-white p-4 flex-col">
                <div class="text-[#181411]" data-icon="ShieldCheck" data-size="24px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M208,40H48A16,16,0,0,0,32,56v58.78c0,89.61,75.82,119.34,91,124.39a15.53,15.53,0,0,0,10,0c15.2-5.05,91-34.78,91-124.39V56A16,16,0,0,0,208,40Zm0,74.79c0,78.42-66.35,104.62-80,109.18-13.53-4.51-80-30.69-80-109.18V56H208ZM82.34,141.66a8,8,0,0,1,11.32-11.32L112,148.68l50.34-50.34a8,8,0,0,1,11.32,11.32l-56,56a8,8,0,0,1-11.32,0Z"
                    ></path>
                  </svg>
                </div>
                <h2 class="text-[#181411] text-base font-bold leading-tight">We prioritize safety, transparency, and accountability in everything we do.</h2>
              </div>
            </div>
            <h2 class="text-[#181411] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Our Story</h2>
            <div class="grid grid-cols-[40px_1fr] gap-x-2 px-4">
              <div class="flex flex-col items-center gap-1 pt-5">
                <div class="size-2 rounded-full bg-[#181411]"></div>
                <div class="w-[1.5px] bg-[#e6e0db] h-4 grow"></div>
              </div>
              <div class="flex flex-1 flex-col py-3">
                <p class="text-[#181411] text-base font-medium leading-normal">2017</p>
                <p class="text-[#897361] text-base font-normal leading-normal">The idea for Marketplace is born.</p>
              </div>
              <div class="flex flex-col items-center gap-1">
                <div class="w-[1.5px] bg-[#e6e0db] h-4"></div>
                <div class="size-2 rounded-full bg-[#181411]"></div>
                <div class="w-[1.5px] bg-[#e6e0db] h-4 grow"></div>
              </div>
              <div class="flex flex-1 flex-col py-3">
                <p class="text-[#181411] text-base font-medium leading-normal">2019</p>
                <p class="text-[#897361] text-base font-normal leading-normal">Marketplace launches with 50 sellers from around the world.</p>
              </div>
              <div class="flex flex-col items-center gap-1 pb-3">
                <div class="w-[1.5px] bg-[#e6e0db] h-4"></div>
                <div class="size-2 rounded-full bg-[#181411]"></div>
              </div>
              <div class="flex flex-1 flex-col py-3">
                <p class="text-[#181411] text-base font-medium leading-normal">2021</p>
                <p class="text-[#897361] text-base font-normal leading-normal">Marketplace introduces new features and expands its seller community.</p>
              </div>
            </div>
            <h2 class="text-[#181411] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Meet the Team</h2>
            <div class="flex items-center px-4 py-3 justify-center">
              <div class="overflow-visible w-[34px]">
                <div
                  class="bg-center bg-no-repeat aspect-square bg-cover border-white bg-[#f4f2f0] text-[#897361] rounded-full flex items-center justify-center size-11 border-4"
                  style='background-image: url("https://cdn.usegalileo.ai/stability/5adf5f07-d741-4563-bc31-01f4a95050f4.png");'
                ></div>
              </div>
              <div class="overflow-visible w-[34px]">
                <div
                  class="bg-center bg-no-repeat aspect-square bg-cover border-white bg-[#f4f2f0] text-[#897361] rounded-full flex items-center justify-center size-11 border-4"
                  style='background-image: url("https://cdn.usegalileo.ai/stability/aad9c4fa-1a3a-4e93-bac3-1891983df356.png");'
                ></div>
              </div>
              <div class="overflow-visible w-[34px]">
                <div
                  class="bg-center bg-no-repeat aspect-square bg-cover border-white bg-[#f4f2f0] text-[#897361] rounded-full flex items-center justify-center size-11 border-4"
                  style='background-image: url("https://cdn.usegalileo.ai/stability/2e7fd365-d0bf-4ca9-b03a-705e7462d524.png");'
                ></div>
              </div>
              <div class="overflow-visible w-[34px]">
                <div
                  class="bg-center bg-no-repeat aspect-square bg-cover border-white bg-[#f4f2f0] text-[#897361] rounded-full flex items-center justify-center size-11 border-4"
                  style='background-image: url("https://cdn.usegalileo.ai/stability/9090c449-0cba-47ca-a26a-662d18e3207b.png");'
                ></div>
              </div>
              <div class="overflow-visible w-11">
                <div
                  class="bg-center bg-no-repeat aspect-square bg-cover border-white bg-[#f4f2f0] text-[#897361] rounded-full flex items-center justify-center size-11 border-4"
                  style='background-image: url("https://cdn.usegalileo.ai/stability/eefd8470-0821-402b-b7f0-f6ae01d35c96.png");'
                ></div>
              </div>
            </div>
            <h2 class="text-[#181411] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Get in Touch</h2>
            <div class="p-4 grid grid-cols-[20%_1fr] gap-x-6">
              <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#e6e0db] py-5">
                <p class="text-[#897361] text-sm font-normal leading-normal">Email</p>
                <p class="text-[#181411] text-sm font-normal leading-normal">info@marketplace.com</p>
              </div>
              <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#e6e0db] py-5">
                <p class="text-[#897361] text-sm font-normal leading-normal">Phone</p>
                <p class="text-[#181411] text-sm font-normal leading-normal">1-800-123-4567</p>
              </div>
              <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#e6e0db] py-5">
                <p class="text-[#897361] text-sm font-normal leading-normal">Address</p>
                <p class="text-[#181411] text-sm font-normal leading-normal">123 Main Street, Anytown, USA 12345</p>
              </div>
            </div>
            <div class="flex px-4 py-3 justify-start">
              <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#ee7f2b] text-[#181411] text-sm font-bold leading-normal tracking-[0.015em]"
              >
                <span class="truncate">Contact Us</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>




{% comment %} {% extends "core/base.html" %}

{% block title %}About{% endblock title %}

{% block content %}
<h1> this is the about us page</h1>
{% endblock content %} {% endcomment %}