{% extends "core/base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container mx-auto px-4 sm:px-6 lg:px-8">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 my-8">
    {% for product in products %}
      <div class="flex flex-col rounded-lg bg-gray-100 shadow-md">
        <div class="relative mx-3 mt-3 h-64 overflow-hidden rounded-lg bg-white">
          {% if product.image %}
            <img
              src="{{ product.image.url }}"
              class="h-full w-full object-cover"
              alt="{{ product.title }}"
            />
          {% endif %}
        </div>
        <div class="px-4 py-3">
          <div class="mb-2 flex items-center justify-between">
            <p class="block font-sans text-sm font-medium leading-relaxed text-blue-gray-900 antialiased">
              {{ product.title }}
            </p>
            <p class="block font-sans text-sm font-medium leading-relaxed text-blue-gray-900 antialiased">
              K {{ product.price }}
            </p>
          </div>
        </div>
        <div class="px-4 py-2">
          <a href="{% url 'product_detail' product.category.slug product.slug %}">
            <button
              class="block w-full select-none rounded-md bg-gray-200 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="button"
            >
              Buy Now
            </button>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
