{% extends "core/base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
{% for product in products %}
<div class="pl-20">
    <div class="relative flex w-96 flex-col rounded-xl bg-gray-100 bg-clip-border text-gray-700 shadow-md">
        <div class="relative mx-4 mt-4 h-96 overflow-hidden rounded-xl bg-white bg-clip-border text-gray-700">
          {% if product.image %}
          <img
            src="{{product.image.url}}"
            class="h-full w-full object-cover"
            alt="{Image of product.title}"
          />
          {% endif %}
        </div>
        <div class="p-6">
          <div class="mb-2 flex items-center justify-between">
            <p class="block font-sans text-base font-medium leading-relaxed text-blue-gray-900 antialiased">
              {{product.title}}
            </p>
            <p class="block font-sans text-base font-medium leading-relaxed text-blue-gray-900 antialiased">
                K {{product.price}}
            </p>
          </div>
          <p class="block font-sans text-sm font-normal leading-normal text-gray-700 antialiased opacity-75">
            
          </p>
        </div>
        <div class="p-6 pt-0">
          <a href="{% url "product_detail" product.category.slug product.slug %}">
            <button
            class="block w-full select-none rounded-lg bg-gray-200 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button"
          > 
            Buy Now
          </button>
          </a>
        </div>
      </div>
</div>
{% endfor %}
 

{% endblock content %}